 nav  {
  position: sticky !important;
  top: 0;
  z-index: 999;
}

#toolbox {
  position: sticky;
  top: 60px;
  z-index: 999;
  text-align: left;
  padding-left: 10px
}

#openAddFormButton::after {
  content: 'Add';
}

@media (max-width: 767px) {
  #toolbox {
    text-align: right;
    padding-right: 10px
  }
  #openAddFormButton::after {
    content: '+';
  }
}

#toolbox > * {
  font-size: 1.7rem !important;
  text-decoration: none;
}

.custom-collapse {
  position: fixed !important;
  top: 60px;
  z-index: 999;
  width: 320px;
  margin: -320px;
  height: 100vh;
  /* height: 320px; */
}

.custom-collapse > .card {
  height: 100vh;
}